#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.Container {
  background-color: red;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.Wrapper {
  background-color: antiquewhite;
  padding: 10px;
  max-width: 1440px;
}

.Header {
  background-color: rgb(105, 81, 0);
}

.Content {
  background-color: orange;
}

.Footer {
  background-color: Green;
}
